.message {
  display: flex;
  flex-direction: column;
}
.messageTop {
  display: flex;
}
.messageImg {
  object-fit: cover;
  filter: drop-shadow(0px 6px 8px rgba(16, 27, 79, 0.204));

  width: 40px;
  height: 40px;
}
.messageText {
  padding: 10px;
  border-radius: 0px 15px 15px 15px;
  background-color: #1fca74;
  color: #fff;
  width: 350px;
  font-family: AvenirNext-Medium;
  font-size: 14px;
}
.messageBottom {
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(155, 155, 155, 1);
}

.message.own {
  align-items: flex-end;
}
.message.own .messageText {
  color: #fff;

  background-color: #788998;
  border-radius: 15px 0px 15px 15px;
}
